<!doctype html>
<html lang="en">

<head>
     <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <link rel="shortcut icon"
          href="https://st4.depositphotos.com/22951204/24667/v/450/depositphotos_246671020-stock-illustration-eagle-logo-designs-simple.jpg" />

     <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

     <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='auth/fonts/icomoon/style.css')}}">

     <link rel="stylesheet" href="{{url_for('static',filename='auth/css/owl.carousel.min.css')}}">

     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="{{url_for('static',filename='auth/css/bootstrap.min.css')}}">

     <!-- Style -->
     <link rel="stylesheet" href="{{url_for('static',filename='auth/css/style.css')}}">

     <title>Register to E-LANG APP</title>
     
     <script>
          $(window).load(function() {
               $("#preloader").delay(3000).fadeOut("slow");
          });
          </script>
          <script type="text/javascript">
          function myFunction() {
               var x = document.getElementById("inputPassword");
               if (x.type === "password") {
                    x.type = "text";
               } else {
                    x.type = "password";
               }
          }
          </script>
</head>

<body>
     <section class="vh-100" style="background-color: #eee;">
          <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                  <div class="card-body p-md-5">
                    <div class="row justify-content-center">
                      <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
        
                        <p class="text-left h3 fw-bold mb-3 mx-1 mx-md-1 mt-1">Form Register</p>
        
                        <form action="/register" method="POST" class="mx-1 mx-md-1">
        
                          <div class="d-flex flex-row align-items-center mb-1">
                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                              <label class="form-label" for="form3Example1c">Username</label>
                              <input type="text" name="username" class="form-control" required />
                              
                            </div>
                          </div>
        
                          <div class="d-flex flex-row align-items-center mb-1">
                            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                              <label class="form-label" for="form3Example3c">Nama Lengkap</label>
                              <input type="text" name="namalengkap" class="form-control" required />
                              
                            </div>
                          </div>
        
                          <div class="d-flex flex-row align-items-center mb-1">
                            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                              <label class="form-label" for="form3Example4c">Email</label>
                              <input type="email" name="email" class="form-control" required />
                              
                            </div>
                          </div>
        
                          <div class="d-flex flex-row align-items-center mb-1">
                            <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                              <label class="form-label" for="form3Example4cd">Password</label>
                              <input type="password" name="password" id="inputPassword"
                              for="inputPassword" required class="form-control" />
                              
                            </div>
                          </div>
                          <div class="d-flex flex-row align-items-center mb-1">
                              <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                              <div class="form-outline flex-fill mb-0">
                                <label class="form-label" for="form3Example4cd">Level</label>
                                <select class="form-control" name="level" aria-label="Default select example">
                                   <option selected>Pilih Level</option>
                                   <option value="Super Admin">Super Admin</option>
                                   <option value="Admin">Admin</option>
                                 </select>
                              </div>
                         </div><br/>
                          <div class="d-sm-flex mb-5 align-items-center">
                              <label class="control control--checkbox mb-1 mb-sm-0"><span class="caption"
                                        for="showpw">Show Password</span>
                                   <input type="checkbox" class="form-check-input" id="showpw"
                                        onclick="myFunction()" />
                                   <div class="control__indicator"></div>
                              </label>
                              <span class="ml-auto"><a href="/login" class="forgot-pass">Login Account</a></span>
                         </div>
                          <div class="d-flex justify-content-center mx-10 mb-1 mb-lg-1">
                            <button style="width: 400px;" type="submit" class="btn btn-success btn-lg">Register</button>
                          </div>
                          
                        </form>
        
                      </div>
                      <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
        
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                          class="img-fluid" alt="Sample image">
        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
     <script src="assets/auth/js/jquery-3.3.1.min.js"></script>
     <script src="assets/auth/js/popper.min.js"></script>
     <script src="assets/auth/js/bootstrap.min.js"></script>
     <script src="assets/auth/js/main.js"></script>
</body>

</html>